<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AJAX</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div id="demo">
  <h1>PERSONAL INFORMATION</h1>
  <label for="fname">Firstname:</label>
  <input type="text" id="fname">
  <label for="mname">Middlename:</label>
  <input type="text" id="mname">
  <label for="lname">Lastname:</label>
  <input type="text" id="lname">
  <label for="birthdate">Birthdate:</label>
  <input type="date" id="birthdate"><br>
  <button type="button" onclick="displayInfo()">Display</button>
    <div id="personal-info" class="output">
  </div>  
<script src="/static/script.js"></script>

</body>
</html>
